body {
  background-color: #FAFAFA;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  padding: 8px;
  width: 440px;
  background-color: #EEE;
  height: 48px;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}

li a:hover, li a:active {
  text-decoration: none;
}

li a span {
  display: inline-block;
  line-height: 1.5em;
  vertical-align: top;
  margin-left: 5px;
}

li a span.beta {
  position: static;
  font-size: 8pt;
}

container {
  position: relative;
  display: block;
  width: 940px;
  margin: 10px auto 10px auto;
  background-color: #FFF;
  border: 1px solid #EEE;
  padding: 20px;
  padding-top: 0;
  min-height: 400px;
}

header {
  display: block;
  margin-bottom: 10px;
}

header #title, #subtitle {
  display: inline;
  margin-right: 20px;
}

#pe_tag {
  position: absolute;
  top: 10px;
  right: 10px;
}

#head {
  margin-bottom: 20px;
}

#head img, #head h2 {
  display: inline;
}

#head img {
  position: relative;
  top: 5px;
}

footer {
  margin-top: 10px;
}

.hidden {
  display: none;
}